<div class="mb-3">
    <label for="title" class="form-label">Project Title</label>
    <input type="text" class="form-control" name="title" required placeholder="Type a name for the project">
</div>

<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" rows="3" required placeholder="Describe the project"></textarea>
</div>

<div class="mb-3">
    <label for="budget" class="form-label">Budget</label>
    <input type="number" class="form-control" name="budget" required placeholder="Enter budget(USD)">
</div>

<div class="mb-3">
    <label for="deadline" class="form-label">Deadline</label>
    <input type="date" class="form-control" name="deadline">
</div>

<div class="mb-3">
    <label for="skills_required" class="form-label">Skills Required</label>
    <input type="text" class="form-control" name="skills_required" placeholder="e.g. Python, Django, React">
</div>
