{% extends 'base.html' %}

{% block title %}WebLancer . Login{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        {% include 'messages.html' %}
        <div class="col-md-6 offset-md-3 container-bg">
            <h2 class="text-center">Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <!-- <input type="password" class="form-control" id="password" name="password" required> -->
                    <div class="input-group">
                        <input type="password" class="form-control password-field" id="password" name="password" placeholder="Enter you Password" required>
                        <button class="btn btn-outline-secondary password-revealer" type="button" data-target="password"><i class="bi bi-eye"></i></button>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
